services:
  caddy:
{{- if .DNS}}
    build: .
{{- else}}
    image: lucaslorentz/caddy-docker-proxy:2.9
{{- end}}
    container_name: herald-caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
{{- if .DNS}}
      - HETZNER_API_TOKEN=${HERALD_HETZNER_TOKEN:?}
{{- end}}
    networks:
      - caddy
    labels:
      caddy.email: "{{.AcmeEmail}}"
{{- if .AcmeCA}}
      caddy.acme_ca: "{{.AcmeCA}}"
{{- end}}
{{- if .DeployDomain}}
      caddy_0: "{{.DeployDomain}}"
      caddy_0.reverse_proxy: "{{.GatewayIP}}:{{.HeraldPort}}"
{{- end}}
{{- if .DNS}}
      caddy.acme_dns: "hetzner {env.HETZNER_API_TOKEN}"
{{- if .Wildcard}}
      caddy.auto_https: "prefer_wildcard"
      caddy_1: "{{.Wildcard}}"
      caddy_1.respond: "404"
{{- end}}
{{- end}}

volumes:
  caddy_data:
  caddy_config:

networks:
  caddy:
    external: true
